<div class="edit-layout">
  <div class="video-column">
    <mat-card class="video-slot">
      @if (proxyGameVideo(); as video) {
        <app-video-player
          #rushPlayer
          [sourceVideo]="video"
          (fpsChange)="rushFps.set($event)"
          (currentFrameChange)="rushFrame.set($event)">
        </app-video-player>
      }
    </mat-card>

    @if (activeCut(); as cut) {
      <mat-card class="video-slot">
        <div class="active-cut-video-title">
          o Rendered cut : {{ cut?.name ?? cut?.slug }}
        </div>
        @if (cutsVideos()[cut.pk]; as cutVideo) {
          <app-video-player
            [sourceVideo]="cutVideo"
            (currentFrameChange)="renderedFrame.set($event)">
          </app-video-player>
        }
      </mat-card>
    }
  </div>
  <mat-card class="side-panel">
    <mat-tab-group
      [selectedIndex]="selectedCutTabIndex()"
      (selectedIndexChange)="onSelectedCutTabChange($event)"
    >
      @for (cut of cuts(); track cut.pk ?? cut.slug ?? $index) {
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="cut-tab-label">{{
                cut.name || cut.slug || "Cut " + ($index + 1)
              }}</span>
            <button
              type="button"
              class="cut-delete"
              (click)="onDeleteCut(cut, $event)"
            >
              ×
            </button>
          </ng-template>
          <div class="tab-content">
            <app-cut-detail
              [cut]="cut"
              (seekToFrame)="onSeekRush($event)"
            ></app-cut-detail>
            <button
              mat-stroked-button
              color="primary"
              class="cut-render"
              type="button"
              (click)="onRenderCut(cut)"
            >
              Generate
            </button>
          </div>
        </mat-tab>
      }
      <mat-tab label="+">
        <div class="tab-content">
          <mat-form-field appearance="outline">
            <mat-label>Nom du cut</mat-label>
            <input matInput type="text" [(ngModel)]="newCutName"/>
          </mat-form-field>
          <div class="cut-create-row">
            <mat-form-field appearance="outline" class="cut-type">
              <mat-label>Type de cut</mat-label>
              <mat-select [(ngModel)]="selectedCutType">
                @for (template of cutTemplates(); track template.code) {
                  <mat-option [value]="template.code">{{
                      template.label
                    }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
            @if (selectedCutType() === "VID") {
              <mat-form-field appearance="outline" class="cut-type">
                <mat-label>Source rendered</mat-label>
                <mat-select [(ngModel)]="selectedRendered">
                  @for (file of renderedFiles(); track file) {
                    <mat-option [value]="file">{{ file }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
            <button
              mat-stroked-button
              color="primary"
              class="cut-add"
              type="button"
              (click)="onGenerateCut()"
            >
              Creer
            </button>
          </div>
          @if (selectedCutType() === "OTIO") {
            <div class="cut-xml-upload">
              <label for="xml-upload">Fichier XML</label>
              <input
                id="xml-upload"
                type="file"
                accept=".xml,application/xml,text/xml"
                (change)="onFileSelected($event)"
              />
              @if (loadedFile()) {
                <span class="cut-xml-filename">{{ loadedFile()?.name }}</span>
              }
            </div>
          }
          @if (!cuts().length) {
            <p class="cuts-empty">No cuts yet.</p>
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
