<div class="overTable">
  <table id="game_list">
    <thead>
      <tr>
        <th>color</th>
        <th>Name</th>
        <th>Date</th>
        <th>number of records</th>
        <th>actions</th>

      </tr>
    </thead>
    <tbody>
      @for (tournament of tournaments(); track tournament.slug) {
      <tr class="clickable-row" (click)="openTournamentGames(tournament)">
          <td class="image_cell" style="background-color: {{ tournament.color }}"></td>
          <td class="tournament_name">{{ tournament.name }}</td>
          <td class="tournament_date">{{ tournament.date }}</td>
          <td class="number_of_games">{{ counts()[tournament.pk] }}</td>
          <td class="actions_col">
          <div class="actions-stack">
            <button class="btn action" (click)="onSyncVideos(tournament); $event.stopPropagation()">Sync videos</button>
            <button class="btn action" (click)="onYoutubeUpdate(tournament); $event.stopPropagation()">YouTube update</button>
          </div>

          </td>
      </tr>
    } @empty {
      <tr><td colspan="4">There are no items.</td></tr>
    }

     </tbody>
</table>
  number of tournaments {{tournaments().length}}
